<?xml version="1.0"?>
<model>
  <name>Box with shelf</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Frederik Zwilling</name>
   <email>zwilling@kbsg.rwth-aachen.de</email>
  </author>

  <description>
    Box with shelf in MPS size
  </description>
</model>
