<?xml version="1.0"?>

<model>
  <name>Carologistics RCLL Field</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
   <name>Frederik Zwilling</name>
   <email>zwilling@kbsg.rwth-aachen.de</email>
  </author>

  <description>
    The training field of the Carologistics team for the RoboCup Logistics League.
  </description>
</model>
